
.message-container-left{
display: flex;
width: 80%;
align-items: center;
justify-content: flex-start;
margin-bottom: 4px;
}

.message-container-left div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    justify-content: flex-start;   
    margin-bottom: 5px;
    padding: 7px;
    box-shadow: 1px 1px 5px rgb(114, 114, 114);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(187, 187, 187);
    }

.message-container-right div{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;   
margin-bottom: 5px;
padding: 7px;
box-shadow: 1px 1px 5px rgb(114, 114, 114);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
text-align: right;
background-color: rgb(214, 213, 213);
}

.message-container-right{
display: flex;
width: 80%;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;   
margin-bottom: 5px;
}

.message-container-custom a{
  text-decoration: underline;
}

.message-container-custom a:hover{
    cursor: pointer;
    color: rgb(100, 100, 100);
  }
  